@import '../../assets/styles/globalStyles.scss';
@import '../../assets/styles/mixins.scss';

.app-wrapper-container {
    padding: $p-12 $p-16;
    position: relative;
    overflow: hidden;
    background-color: $grey;
    // 350 px is the heigth of the header + cover
    min-height: calc(100vh - 350px);
    @media only screen and (min-width: $desktop-query-1280) {
        @include flex($align-items:flex-start);
    }
}

.app-wrapper {
    max-width:$desktop-query-1280;
}

.app-wrapper__shoppin-cart{
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.shoppin-cart__img {
    height: 35px;
}