@import '../../assets/styles/globalStyles.scss';
@import '../../assets/styles/mixins.scss';

.detail-container {
    @include flex($flex-direction:column);
}

.detail__title {
    margin-bottom: $m-12;
    font-size: $text-32;
}

.detail__img {
    height: 150px;
    margin-bottom: $m-12;
    @media only screen and (min-width:$desktop-query-1280){
        height: 300px;
    }
}

.detail__text {
    font-size: $text-16;
    margin-bottom: $m-12;
}

.highlight {
    color: $light-blue;
}