// colors
$white: #F5F5F5;
$grey:#E8E8E9;


// font sizes
$text-12: 12px;
$text-14: 14px;
$text-16: 16px;
$text-20: 20px;
$text-22: 22px;
$text-24: 24px;
$text-32: 32px;
$text-38: 38px;
$text-42: 42px;

// padding
$p-2: 2px;
$p-4: 4px;
$p-6: 6px;
$p-8: 8px;
$p-12: 12px;
$p-16: 16px;
$p-24: 24px;
$p-32: 32px;
$p-42: 42px;
$p-48: 48px;
$p-64: 64px;

// margin
$m-1: 1px;
$m-2: 2px;
$m-4: 4px;
$m-6: 6px;
$m-8: 8px;
$m-12: 12px;
$m-16: 16px;
$m-18: 18px;
$m-24: 24px;
$m-32: 32px;
$m-42: 42px;
$m-48: 48px;
$m-64: 64px;

// box shadow
$box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);